-- CreateTable
CREATE TABLE `kategoria` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `kategoria` VARCHAR(191) NOT NULL,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `komentarze` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `komentarz` VARCHAR(191) NOT NULL,
    `wpisId` INTEGER NOT NULL,

    INDEX `Komentarze_wpisId_fkey`(`wpisId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `wpis` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `wpis` VARCHAR(191) NOT NULL,
    `kategoriaId` INTEGER NOT NULL,

    INDEX `Wpis_kategoriaId_fkey`(`kategoriaId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- AddForeignKey
ALTER TABLE `komentarze` ADD CONSTRAINT `Komentarze_wpisId_fkey` FOREIGN KEY (`wpisId`) REFERENCES `wpis`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `wpis` ADD CONSTRAINT `Wpis_kategoriaId_fkey` FOREIGN KEY (`kategoriaId`) REFERENCES `kategoria`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

